.tree-container{
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* overflow: auto; */
}

.tree{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
}

.value{
    margin-top: 10px;
    padding: 7px;
    background-color: #313131;
    border: 1px solid #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.line{
    width: 2px;
    height: 15px;
    background: #313131;
}


.childs{
    border-top:2px solid #313131;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.tree:not(.rootNode) .value::before{
    content : "";
    width: 2px;
    height: 11px;
    background: #313131;
    position: absolute;
    bottom:100%;
    left: 50%;
    transform: translateX(-50%);
}

.left{
    margin-right: 30px;
}
.right{
    margin-left: 30px;
}

.highlight{
    background-color: rgba(3, 148, 245, 0.836);
}